[submodule "umbc-cs411/projs/proj-ext"]
	path = umbc/CMSC/4XX/411/projs/proj-ext
	url = https://github.com/RobRoseKnows/cs411-f18-proj.git
[submodule "umbc/CMSC/4XX/491/semantic-web/hw/02"]
	path = umbc/CMSC/4XX/491/semantic-web/hw/02
	url = git@github.com:UMBC-CMSC-491-691-F19-Knowledge-Graphs/hw2-RobRoseKnows.git
[submodule "umbc/CMSC/4XX/491/semantic-web/hw/01"]
	path = umbc/CMSC/4XX/491/semantic-web/hw/01
	url = git@github.com:UMBC-CMSC-491-691-F19-Knowledge-Graphs/cmsc-491-691-homework-1-RobRoseKnows.git
[submodule "umbc/CMSC/4XX/421/proj/0"]
	path = umbc/CMSC/4XX/421/proj/0
	url = git@github.com:umbc-cmsc421-fa2019/project0-RobRoseKnows.git
[submodule "umbc/CMSC/4XX/421/hw/01"]
	path = umbc/CMSC/4XX/421/hw/01
	url = git@github.com:umbc-cmsc421-fa2019/shell-RobRoseKnows.git
[submodule "umbc/CMSC/4XX/421/proj/1"]
	path = umbc/CMSC/4XX/421/proj/1
	url = git@github.com:umbc-cmsc421-fa2019/project1-RobRoseKnows.git
[submodule "umbc/CMSC/4XX/421/proj/2"]
	path = umbc/CMSC/4XX/421/proj/2
	url = git@github.com:umbc-cmsc421-fa2019/project2-RobRoseKnows.git
[submodule "umbc/CMSC/4XX/491/semantic-web/hw/04"]
	path = umbc/CMSC/4XX/491/semantic-web/hw/04
	url = git@github.com:UMBC-CMSC-491-691-F19-Knowledge-Graphs/hw4-RobRoseKnows.git
[submodule "umbc/CMSC/4XX/491/semantic-web/hw/03"]
	path = umbc/CMSC/4XX/491/semantic-web/hw/03
	url = git@github.com:UMBC-CMSC-491-691-F19-Knowledge-Graphs/hw3-RobRoseKnows.git
[submodule "umbc/CMSC/4XX/491/semantic-web/hw/05"]
	path = umbc/CMSC/4XX/491/semantic-web/hw/05
	url = git@github.com:UMBC-CMSC-491-691-F19-Knowledge-Graphs/hw5-RobRoseKnows.git
